*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    background-color: #000;
    overflow-x: hidden;
}
a{
    cursor: default;
}
/* HEADER */
header{
    width: 100%;
}
header .firstHed{
    width: 100%;
}
header .firstHed img{
    width: 100%;
}
header .secondHed{
    width: 100%;
}
header .secondHed img{
    width: 100%;
}
header .description{
    width: 100%;
    padding: 20px 0;
    color: #fcfcfc;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
header .description .comtainer_desc{
    width: 60%;
}
header .description img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.sameTitle{
    width: 100%;
    text-align: center;
    color: #d8f135;
    margin-left: 10px;
    margin-bottom: 40px;
    font-size: 90px;
    position: relative;
    z-index: 100;
}
header .description h4{
    font-size: 20px;
    font-weight: 800;
    margin-bottom:  25px;
}
header .description p{
    width: 75%;
    line-height: 1.8;
    margin: 20px 0;
}
header .description .icons{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .description .icons i{
    margin: 0 20px;
    color: #d8f135;
    font-size: 50px;
}

/* RESPONSIVE HEADER */
@media screen and (max-width : 991px) {
     .sameTitle{
        font-size: 70px;
    }
}
@media screen and (max-width : 761px) {
     .sameTitle{
        font-size: 50px;
    }
    header .description p{
        width: 100%;
    }
}
@media screen and (max-width : 574px) {
    header .description .comtainer_desc{
        width: 100%;
        padding: 10px 5px;
    }
    .sameTitle{
        margin-left: 0;
        font-size: 40px;
    }
}

/* SECTION 1 -ARTMAP- */
.artmap{
    width: 100%;
    height: auto;
    
}
.artmap .container_artmap1{
    width: 100%;
    height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: 3;
}
.artmap .childContainer_artmap{
    width: 80%;
    margin-top: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.artmap .container_artmap1 .childContainer_artmap .artmap_left{
    width: 50%;
}
.artmap .container_artmap1 .childContainer_artmap .artmap_left .imgArtmap{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.collectionTitle{
    color: #d8f135;
    font-size: 25px;
    margin-bottom: 20px;
    position: relative;
    z-index: 100;
}
.artmapParagraph{
    font-size: 23px;
    line-height: 1.5;
    margin-bottom: 20px;
    position: relative;
    z-index: 100;
}
.artmapLink{
    font-size: 25px;
    color: #d8f135;
    position: relative;
    z-index: 100;
}
.discord{
    margin-right: 20px;
    position: relative;
    z-index: 100;
}
.artmap .container_artmap1 .childContainer_artmap .artmap_right{
    width: 35%;
    margin-left: 0px;
    text-align: end;
}
.artmap .container_artmap1 .childContainer_artmap .artmap_right p{
    font-size: 23px;
    position: relative;
    z-index: 100;
}

/* RESPONSIVE */

@media screen and (max-width: 991px) {
    .artmap .container_artmap1 .childContainer_artmap .artmap_right{
        width: 25%;
    }
}
@media screen and (max-width: 761px) {
    .artmap .childContainer_artmap{
        width: 100%;
        height: 100%;
        padding-left: 5px;
        margin-top: 0px;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .collectionTitle{
        font-size: 23px;
        margin-bottom: 15px;
    }
    .artmapParagraph{
        font-size: 20px;
        line-height: 1;
        margin-bottom: 15px;
    }
    .artmapLink{
        font-size: 23px;
    }
    .artmap .container_artmap1 .childContainer_artmap .artmap_right{
        width: 50%;
        text-align: start;
    }
}
@media screen and (max-width: 575px) {
    .artmap .container_artmap1 .childContainer_artmap .artmap_left{
        text-align: center;
    }
    .artmap .container_artmap1 .childContainer_artmap .artmap_right{
        text-align: center;
    }
    .artmap .container_artmap1{
        height: calc(100vh + 50vh);
    }
}

.artmap .container_artmap2{
    width: 100%;
    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    z-index: 3;
}
.artmap .childContainer_artmap2{
    width: 80%;
    margin-top: 20vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
}
.artmap .container_artmap2 .childContainer_artmap2 .artmap_left {
    width: 50%;
    text-align: end;
}
.artmap .container_artmap2 .childContainer_artmap2 .artmap_left .imgArtmap{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.artmap .container_artmap2 .childContainer_artmap2 .artmap_right{
    width: 55%;
}
.artmap .container_artmap2 .childContainer_artmap2 .artmap_right p{
    width: 90%;
    font-size: 23px;
    position: relative;
    z-index: 100;
}

/* RESPONSIVE */
@media screen and (max-width: 761px) {
    .artmap .childContainer_artmap2{
        width: 100%;
        padding-right: 5px;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-evenly;
    }
    .artmap .container_artmap2 .childContainer_artmap2 .artmap_right{
        text-align: end;
    }
    .artmap .container_artmap2 .childContainer_artmap2 .artmap_right p{
        width: 100%;
    }
}
@media screen and (max-width: 575px) {
    .artmap .childContainer_artmap2{
        justify-content: center;
    }
    .artmap .container_artmap2 .childContainer_artmap2 .artmap_left{
        text-align: center;
    }
    .artmap .container_artmap2 .childContainer_artmap2 .artmap_right{
        text-align: center;
        width: 45%;
    }
    .artmap .container_artmap2{
        height: calc(100vh + 50vh);
    }
    .artmap .childContainer_artmap2{
        height: 100%;
        justify-content: space-evenly;
    }
}

.artmap .container_artmap3{
    width: 100%;
    height: 150vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    z-index: 3;
}
.artmap .childContainer_artmap3{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.artmap .container_artmap2 .childContainer_artmap3 .artmap_left {
    width: 50%;
}
.artmap .container_artmap3 .childContainer_artmap3 .artmap_left .imgArtmap{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.artmap .container_artmap3 .childContainer_artmap3 .artmap_right{
    width: 50%;
    text-align: center;
}
.artmap .container_artmap3 .childContainer_artmap3 .artmap_right{
    position: relative;
    z-index: 100;
}

/* RESPONSIVE */
@media screen and (max-width: 761px) {
    .artmap .childContainer_artmap3{
        width: 100%;
        padding-left: 5px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
    }
    .artmap .container_artmap3 .childContainer_artmap3 .artmap_right{
        margin-top: 50px;
        text-align: start;
    }
}
@media screen and (max-width: 575px) {
    .artmap .container_artmap3 .childContainer_artmap3 .artmap_left{
        width: 45%;
        text-align: center;
    }
    .artmap .container_artmap2 .childContainer_artmap2 .artmap_right{
        text-align: center;
    }
    .artmap .container_artmap2{
        height: calc(100vh + 50vh);
    }
    .artmap .childContainer_artmap2{
        height: 100%;
        justify-content: space-evenly;
    }
}
